/*General

  Change the font type of the entire website to Arial
  Set the line-height of the words to  1.5rem;
  Align all the text to the center
  increase the font-size of all the words 1.1rem;
  change the background-color  of the entire web page to: #333333;

 */

 /* 
 Headings (h1-h6)
 Change the text of all the headings to uppercase
 */


/*
links
 remove all the underline  of the links

*/

/*
  header

  -setting the color of h1 and paragraph to white
  -set height:450px;
  set a background image : header-bg.jpeg
  bold one word in the paragraph
  italicize one word in the paragraph
*/


/*
  button

  color of text white
  background-color #333333
  border 1px solid #555555
*/

/*
  button hover state
   background-color:#eaeaea;
   color:#333333;
*/

/*
Section- Working Experience

Set background color #eaeaea
*/


/*
Section- Working Details

Set background color white
*/

/*
  Employers  Sub-Section
  background-color :#2690d4
  White text
*/
/*
  Contact Sub-Section
  Background-color:white
  Black Text
*/


/*
  footer
  background color :black
  Text color white
*/

/*
  footer font awesome icons
  fb,insta,twitter,linkin
*/

*{
  margin:0;
  padding:0;
}

.first-section{
background-image: url(/img/header-bg.jpeg);
height: 28em;
width=100%;
text-align: center;
color:white;
font-family: helvetica;
}

.h1-header{
  padding: 3em 0 1em 0;
  font-size: 3em;
}

.btn-header{
  display: block;
  background-color:white ;
  padding: 0.5em;
  width: 20%;
  margin:auto;
  box-shadow: 1px 1px 1px  grey;
}
.p-header{
  padding:1em;
}

.second-section{
  width=100%;
  text-align: center;
  font-family: helvetica;
  }

.t-header{
  font-size: 1.5em;
  padding: 1em 0 1em 0;
}
.p-desc{
  padding:0 0 1em 0 ;
}

.third-section{
background-color:black;
/* overflow: hidden; */
display: grid;
grid-template-columns:1fr 1fr 1fr 1fr 1fr;
grid-gap: 0.25em;
margin: auto;
/* max-width: 50em; */
padding: 0 em;
}

.third-section-article{
  background-color: white;
  overflow: hidden;
  display: block;
  font-family: helvetica;
  margin: 0.25em 0;
  text-align: center;

}
.prg-img{
  height: auto;
  width: auto;
  max-width: 100%;
}

.h2-prg{
  font-size: 1em;
  padding: 0.5em 0;
}
.p-prg{
  font-family: helvetica;
  font-size:0.8em;
}

.forth-section1{
display: grid;
grid-template-columns: 50% 50%;
background-color: teal;
color: white;
font-family: helvetica;
font-size: 1.5em;
padding: 2em 0;
}

.forth-section2